@use "src/assets/styles/categories";
@use "@angular/material" as mat;
@use "src/theme";

$max-card-width: 1000px;

.responsive-mat-card {
  max-width: $max-card-width;
  margin: 0 auto 1em;
}

.header-flex-container {
  display: flex;
  justify-content: space-between;
}

.header-left {
  flex: 1;
  text-align: left;
}

.header-right {
  display: flex;
  flex-direction: column;
}

mat-card-title {
  margin-bottom: 0.5em;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
}

.author-container,
.date-container {
  display: inline-block;
}

.author-container {
  margin-right: 1em;
}

.author-container:hover {
  cursor: pointer;
  text-decoration: underline;
}

.category {
  max-width: calc($max-card-width - 2em);
}

.content {
  white-space: pre-line;
}

.categories {
  display: flex;
  flex-direction: column;
}

.report-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.report-icon {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    scale: 1.2;
    color: mat.get-color-from-palette(theme.$app-accent);
  }
}
