<mat-card class="responsive-mat-card">
  <mat-card-header class="header-flex-container">
    <div class="header-left">
      <mat-card-title>
        {{ entry?.title }}
      </mat-card-title>
      <div class="content">
        {{ entry?.content }}
      </div>
    </div>
    <div class="header-right">
      <app-favorite-icon
        [isFavorite]="entry?.favorite === true"
        [entryId]="entry?.entry_id"
        [bigger]="true"
      ></app-favorite-icon>
      <app-votes-widget
        [count]="entry?.votes || 0"
        [entryId]="entry?.entry_id"
        [authorId]="entry?.author?.user_id"
        [voted]="entry?.user_vote || 0"
      ></app-votes-widget>
    </div>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="entry?.image">
      <div *ngIf="image; else spinner" class="image-container">
        <img [src]="image" (click)="openDialog()" />
      </div>
      <ng-template #spinner>
        <div class="image-container">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>
    </ng-container>
    <div class="categories">
      <mat-chip-set>
        <div *ngFor="let category of entry?.categories">
          <mat-chip
            selected
            class="faculty"
            *ngIf="category.type == 0"
            [ngClass]="getCategoryClass(category)"
          >
            {{ getCategoryName(category) }}
          </mat-chip>
        </div>
      </mat-chip-set>
      <mat-chip-set>
        <div *ngFor="let category of entry?.categories">
          <mat-chip
            selected
            class="area"
            [ngClass]="getCategoryClass(category)"
            *ngIf="category.type == 1"
          >
            {{ getCategoryName(category) }}
          </mat-chip>
        </div>
      </mat-chip-set>
    </div>

    <div class="card-footer">
      <button
        *ngIf="entry?.entry_type_id !== 3 && !isAuthor"
        mat-raised-button
        color="primary"
        class="contact-button"
        (click)="contactAuthor()"
      >
        {{ "Contact author" | translate }}
      </button>
      <mat-card-subtitle>
        <div class="author-container">
          <span>
            {{ entry?.author?.first_name }}
          </span>
          <span>
            {{ entry?.author?.last_name }}
          </span>
        </div>
        <div class="date-container">
          <span translate>added</span>
          <span>
            {{ entry?.created_at | relativeTime : currentLanguage }}
          </span>
        </div>
      </mat-card-subtitle>
    </div>
  </mat-card-content>
  <div *appIfAuthorOrAdmin="entry?.author?.user_id">
    <app-entry-action-buttons
      *ngIf="entry"
      [entryId]="entry.entry_id"
      [entryType]="entry.entry_type_id"
      (entryDeleted)="entryDeleted($event)"
    ></app-entry-action-buttons>
  </div>
  <app-answer-card
    *ngIf="entry?.entry_type_id === 3"
    [answers]="entry?.answers"
    [entryId]="entry!.entry_id"
    (answerDeleted)="answerDeleted($event)"
  ></app-answer-card>
</mat-card>
