<mat-card class="responsive-mat-card">
  <mat-card-header>
    <mat-card-title>
      {{ entry?.title }}
    </mat-card-title>
    <app-favorite-icon
      [isFavorite]="entry?.favorite === true"
      [bigger]="true"
    ></app-favorite-icon>
  </mat-card-header>
  <mat-card-content>
    <div class="content">
      {{ entry?.content }}
    </div>

    <div *ngIf="image" class="image-container" (click)="openDialog()">
      <img [src]="image" />
    </div>

    <div class="categories">
      <mat-chip-set>
        <div *ngFor="let category of entry?.categories">
          <mat-chip
            selected
            class="faculty"
            *ngIf="category.type == 0"
            [ngClass]="getCategoryClass(category)"
          >
            {{ getCategoryName(category) }}
          </mat-chip>
        </div>
      </mat-chip-set>
      <mat-chip-set>
        <div *ngFor="let category of entry?.categories">
          <mat-chip
            selected
            class="area"
            [ngClass]="getCategoryClass(category)"
            *ngIf="category.type == 1"
          >
            {{ getCategoryName(category) }}
          </mat-chip>
        </div>
      </mat-chip-set>
    </div>

    <div class="card-footer">
      <button
        *ngIf="entry?.entry_type_id !== 3"
        mat-raised-button
        color="primary"
        class="contact-button"
      >
        {{ "Contact author" | translate }}
      </button>
      <mat-card-subtitle>
        <div class="author-container">
          <span>
            {{ entry?.author?.first_name }}
          </span>
          <span>
            {{ entry?.author?.last_name }}
          </span>
        </div>
        <div class="date-container">
          <span translate>added</span>
          <span>
            {{ entry?.created_at | relativeTime : currentLanguage }}
          </span>
        </div>
      </mat-card-subtitle>
    </div>
  </mat-card-content>
  <app-entry-action-buttons
    *ngIf="entry"
    [entryId]="entry.entry_id"
    [entryType]="entry.entry_type_id"
    (entryDeleted)="entryDeleted($event)"
  ></app-entry-action-buttons>
  <app-answer-card
    *ngIf="entry?.entry_type_id === 3"
    [answers]="entry?.answers"
    [entryId]="entry?.entry_id"
  ></app-answer-card>
</mat-card>
