<mat-sidenav-container class="side-nav-container">
  <mat-sidenav
    #drawer
    class="side-nav"
    fixedInViewport
    [attr.role]="'dialog'"
    [mode]="'over'"
    [opened]="false"
    [opened]="(isHandset$ | async) ? drawer.opened : false"
    (closed)="profileDropdownOpen = false"
  >
    <mat-toolbar>
      <button
        type="button"
        aria-label="Close side nav"
        mat-icon-button
        (click)="drawer.close()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <div>
        <a
          mat-list-item
          *ngFor="let link of links"
          routerLink="{{ link.url }}"
          routerLinkActive="active-side-nav-item"
          [attr.data-badge]="link.badge | async"
          [class.badge]="link.badge | async"
          (click)="drawer.close()"
          >{{ link.label | translate }}</a
        >
        <a
          *appIsLoggedIn
          mat-list-item
          (click)="profileDropdownOpen = !profileDropdownOpen"
        >
          <div class="profile-side-nav">
            <span translate>Profile</span>
            <mat-icon>
              {{ profileDropdownOpen ? "expand_more" : "chevron_right" }}
            </mat-icon>
          </div>
        </a>
        <div *ngIf="profileDropdownOpen" class="profile-side-nav-items">
          <a
            mat-list-item
            *ngFor="let link of profileLinks"
            routerLink="{{ link.url }}"
            routerLinkActive="active-side-nav-item"
            (click)="drawer.close()"
            >{{ link.label | translate }}</a
          >
          <a mat-list-item (click)="signOut(); drawer.close()">{{
            "Sign Out" | translate
          }}</a>
        </div>
        <a
          *appIsAdmin
          mat-list-item
          (click)="adminDropdownOpen = !adminDropdownOpen"
        >
          <div class="profile-side-nav">
            <span translate class="admin-text">Admin</span>
            <mat-icon>
              {{ adminDropdownOpen ? "expand_more" : "chevron_right" }}
            </mat-icon>
          </div>
        </a>
      </div>
      <div *ngIf="adminDropdownOpen" class="profile-side-nav-items">
        <a
          mat-list-item
          *ngFor="let link of adminLinks"
          routerLink="{{ link.url }}"
          routerLinkActive="active-side-nav-item"
          (click)="drawer.close()"
          >{{ link.label | translate }}</a
        >
      </div>
      <app-language-selector [sideNav]="true"></app-language-selector>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        class="right-side-nav-item"
        type="button"
        aria-label="Open side nav"
        mat-icon-button
        (click)="drawer.open()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav open icon">menu</mat-icon>
      </button>

      <span [class.spacer]="isHandset$ | async"></span>
      <span class="navbar-logo" [class.right]="isHandset$ | async">
        <img src="/assets/images/logo.png" alt="Logo" />
      </span>
      <span translate class="nav-title">Knowledge Exchange</span>
      <span [class.spacer]="!(isHandset$ | async)"></span>

      <div class="main-nav-list" *ngIf="!(isHandset$ | async)">
        <a
          mat-button
          class="main-nav-item"
          *ngFor="let link of links"
          routerLink="{{ link.url }}"
          routerLinkActive="active-nav-item"
          [attr.data-badge]="link.badge | async"
          [class.badge]="link.badge | async"
          >{{ link.label | translate }}</a
        >

        <button
          *appIsLoggedIn
          mat-button
          [matMenuTriggerFor]="profileMenu"
          class="main-nav-item"
        >
          {{ "Profile" | translate }}
        </button>
        <mat-menu #profileMenu="matMenu" class="profile-menu">
          <a
            mat-menu-item
            *ngFor="let link of profileLinks"
            routerLink="{{ link.url }}"
            routerLinkActive="active-side-nav-item"
            (click)="drawer.close()"
            >{{ link.label | translate }}</a
          >
          <button mat-menu-item class="main-nav-item" (click)="signOut()">
            {{ "Sign Out" | translate }}
          </button>
        </mat-menu>
        <button
          *appIsAdmin
          mat-button
          [matMenuTriggerFor]="adminMenu"
          class="main-nav-item admin-text"
        >
          Admin
        </button>
        <mat-menu #adminMenu="matMenu" class="profile-menu">
          <ng-container *appIsAdmin>
            <a
              mat-menu-item
              *ngFor="let link of adminLinks"
              routerLink="{{ link.url }}"
              routerLinkActive="active-side-nav-item"
              (click)="drawer.close()"
              >{{ link.label | translate }}</a
            >
          </ng-container>
        </mat-menu>
        <app-language-selector></app-language-selector>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
