@use "@angular/material" as mat;
@use "src/theme";

.side-nav-container {
  height: 100%;
}

.side-nav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  height: calc(100% - 64px);
  padding: 0;

  @media (max-width: 599px) {
    height: calc(100% - 56px);
  }
}

.side-nav .mat-toolbar {
  background: inherit;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin-inline: 10px;
  color: white;
  text-decoration: none;
}

.active-nav-item {
  color: mat.get-color-from-palette(theme.$app-accent) !important;
}

.active-side-nav-item {
  background-color: mat.get-color-from-palette(theme.$app-accent, lighter);
}

a.main-nav-item, button.main-nav-item  {
  font-size: .9em;
}

::ng-deep .profile-menu {
  margin-top: 1em !important;
}

.profile-side-nav {
  display: flex;
  align-items: center;
}

.profile-side-nav-items > a {
  padding-left: 2em;
}

.navbar-logo {
  height: 56px;
  display: flex;
  align-items: center;
  margin-right: 0.5em;
  min-width: max-content;
  & > img {
    height: calc(100% - 1em);
    width: 100%;
  }
  &.right {
    margin-inline: 0.5em;
    order: 1;
  }
}

.nav-title {
  @media (max-width: 300px) {
    display: none;
  }
}

// if we want to move hamburger menu and side-nav to the right
.right-side-nav {
  left: auto;
  right: 0;
  transform: translateX(100%);
}

.right-side-nav-item {
  margin-inline-start: auto;
}
