<div class="user-list-outer-container">
  <div class="user-list-controls">
    <form
      [formGroup]="userFilterForm"
      (ngSubmit)="applyFilter()"
      class="filter-form"
    >
      <div class="inputs-container">
        <mat-form-field class="search-field" appearance="outline">
          <mat-label>{{ "Search" | translate }}</mat-label>
          <input matInput formControlName="search" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ "Status" | translate }}</mat-label>
          <mat-select formControlName="status">
            <mat-option value="email-auth">
              {{ "Authenticated" | translate }}
            </mat-option>
            <mat-option value="no-email-auth">
              {{ "Not Authenticated" | translate }}
            </mat-option>
            <mat-option value="banned">
              {{ "Banned" | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="buttons-container">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="apply-filter-button"
        >
          {{ "Apply filters" | translate }}
        </button>

        <button
          *ngIf="userFilterForm.value.search || userFilterForm.value.status"
          mat-raised-button
          type="button"
          class="clear-filter-button"
          (click)="clearFilter()"
        >
          {{ "Clear filters" | translate }}
        </button>
      </div>
    </form>
  </div>

  <div class="user-list-inner-container">
    <div class="user-list-item" *ngFor="let user of users">
      <div class="user-info-container">
        <span class="username" (click)="userDetails(user.user_id)"
          >{{ user.first_name }} {{ user.last_name }}</span
        >
        <app-user-status-icon 
          [is_banned]="user.is_banned"
          [is_email_auth]="user.is_email_auth"
        ></app-user-status-icon>
      </div>
      <div class="action-icons-container">
        <mat-icon color="primary" (click)="contactUser(user)">
          chat_bubble_outline</mat-icon
        >
        <mat-icon color="primary" (click)="userEntries(user.user_id)"
          >event_note</mat-icon
        >
        <mat-icon color="primary" (click)="userDetails(user.user_id)"
          >portrait</mat-icon
        >
        <mat-icon *ngIf="!user.is_banned" color="warn">lock</mat-icon>
        <mat-icon *ngIf="user.is_banned" color="primary">lock_open</mat-icon>
      </div>
    </div>
  </div>
</div>
