.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.report-description {
  margin: 2em 0;
}

.reporter-container {
  display: flex;
  justify-content: right;
  align-items: center;
}
