<mat-card class="responsive-mat-card">
  <mat-card-header class="card-header">
    <mat-card-title class="card-title">
      <h2 translate>Sign In</h2>
    </mat-card-title>
    <mat-card-subtitle class="card-center-row">
      <span translate>Don't have an account?</span>
      <a class="link" mat-button color="primary" routerLink="/auth/sign-up"
        >{{'Sign Up' | translate}}</a
      >
    </mat-card-subtitle>
    <mat-error translate *ngIf="otherLoginError">
      Login failed, please try again later
    </mat-error>
    <mat-error translate *ngIf="unauthorize">
      Invalid email or password
    </mat-error>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="signInForm"
      (ngSubmit)="onSubmit()"
      class="form-container"
    >
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          translate="yes"
          matInput
          formControlName="email"
          placeholder="{{'example@student.agh.edu.pl' | translate}}"
          required
        />
        <mat-error translate *ngIf="signInForm.get('email')?.errors?.['required']">
          Email is required.
        </mat-error>
        <mat-error translate *ngIf="signInForm.get('email')?.errors?.['pattern']">
          Please enter a valid student email.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label translate>Password</mat-label>
        <input matInput type="password" formControlName="password" required />
        <mat-error translate *ngIf="signInForm.get('password')?.errors?.['required']">
          Password is required.
        </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="rememberMe">{{'Remember me' | translate}}</mat-checkbox>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!signInForm.valid"
      >
      {{'Sign In' | translate}}
      </button>
    </form>
  </mat-card-content>
  <mat-card-footer class="card-center-row">
    <a mat-button color="primary" href="#"
      >{{'Forgot your password?' | translate}}</a
    >
  </mat-card-footer>
</mat-card>
