@use "@angular/material" as mat;
@use "src/theme";
@use "src/assets/styles/entry-card-variables" as *;
@use "src/assets/styles/categories";


mat-card-header {
    display: flex;
    justify-content: space-between;
}

mat-card-title {
    $title-row-count: 3;
    $line-height: 1.5em;

    display: -webkit-box;
    -webkit-line-clamp: $title-row-count;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.5em;
    height: calc($line-height * $title-row-count);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: mat.get-color-from-palette(theme.$app-primary);
        text-decoration: underline;
    }
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.categories {
    min-height: 100px;//$categories-max-height;
    display: flex;
    flex-direction: column;
}

.categories-row {
    overflow: hidden;
    height: 40px;
}