<form [formGroup]="form" (ngSubmit)="createNewEntry()" class="form">
  <mat-grid-list class="container" layout-align="center center" cols="1" rowHeight="1:1">
    <mat-card class="card">

      <mat-card-header>
        <mat-card-title>Add {{entryTypeString}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="80px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="example-full-width title">
              <mat-label class="">Title</mat-label>
              <input matInput formControlName="title">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="3">
            <mat-form-field class="example-full-width ">
              <mat-label class="description">Description</mat-label>
              <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                formControlName="description"></textarea>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="entryType!==2">
            <button type="button" mat-raised-button (click)="fileInput.click()">Add image</button>
            <input hidden (change)="onFileSelected($event)" #fileInput type="file" >
            <span class="file-name">{{selectedFile?.name}}</span>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">

            <mat-form-field class="example-full-width ">
              <mat-label>Categories</mat-label>
              <mat-select formControlName="categories" multiple>
                <div *ngFor="let category1 of categories">
                  <mat-option *ngIf="category1.parent_id==null" [value]="category1.category_id">
                    {{category1.names[0].name}}
                  </mat-option>
                  <ul>
                    <li *ngFor="let category of categories">
                      <mat-option *ngIf="category1.category_id==category.parent_id" (ngModelChange)="selectCategory()"
                        [value]="category.category_id">
                        {{category.names[0].name}}
                      </mat-option>
                    </li>
                  </ul>
                </div>
              </mat-select>
            </mat-form-field>

          </mat-grid-tile>

        </mat-grid-list>
      </mat-card-content>
      <mat-card-footer>
        <div>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="button" (click)="backClicked()">Cancel</button>
          </mat-card-actions>
        </div>
        <div>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" (click)="createNewEntry()">Add</button>
          </mat-card-actions>
        </div>
      </mat-card-footer>
    </mat-card>
  </mat-grid-list>
</form>