@use "@angular/material" as mat;
@use "src/theme";


mat-card {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;

}

mat-card-header {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

mat-grid-field {
    width: 100%;
    padding: auto;
    display: flex;
    display: row;
    justify-content: center;
    padding-top: 1em;
}

mat-card-footer {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    padding-right: 2em;
}

.image_select {
    display: flex;
    justify-content: center;
}

.example-full-width {
    width: 100%;
}

.description {
    height: 190px;
}

textarea {
    height: 190px;
    overflow-y: auto;
}

.file-name {
    margin-left: 1rem;
}

ul {
    list-style-type: none;
    margin-top: 4px;
}

mat-pseudo-checkbox {
    visibility: hidden;
}

mat-card-title {
    padding-right: 10px;
}

mat-grid-list {


    width: 100%;
    margin: 0 0 0 0;

}

mat-grid-tile {
    padding-top: 1em;
}