.category-group-name-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
}

.category-group-name-panel {
    width: 100%;
    
    mat-panel-title {
      flex: 1;
    }
    
    mat-panel-description {
      margin-right: 0;
      justify-content: flex-end;
    }
  }
  

.category-group-name {
    font-weight: 500;
    font-size: 1.2em;
}
  