@use "src/assets/styles/entry-list.scss";

.entry-list-outer-container {
    margin: 1em;
}

.entry-list-controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 2em;
}

.add-entry-button {
    margin-left: auto;
}

.filter-form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.inputs-container {
    display: flex;
    flex-wrap: wrap;
    flex: content;
    gap: .1em;
    & > * {
        flex: 1 1 max(350px, 30%);
    }
}

.categories-filter.last  {
    order: 2;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}