@use "src/assets/styles/entry-list.scss";

.entry-list-outer-container {
    margin: 1em;
}

.entry-list-controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 2em;
}

.add-entry-button {
    margin-left: auto;
}

.filter-form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.inputs-container {
    display: flex;
    flex-wrap: wrap;
    flex: content;

    & > * {
        flex: 1 1 50%;
    }
}

// .categories-filter {
//     width: 50%;
//     min-width: 250px;
// }

.apply-filter-button {
    width: max-content;
}