@use "@angular/material" as mat;
@use "src/theme";

.error-card {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  padding: 1em;
  gap: 2em;
}

.title {
  font-size: 3em;
  color: mat.get-color-from-palette(theme.$app-warn);
  line-height: 1.5em;
}

.mi-a {
  margin-inline: auto;
}

.error-card p {
  font-size: 1.5em;
}
