@use "src/assets/styles/entry-list.scss";
@use "@angular/material" as mat;
@use "src/theme";

.entry-list-outer-container {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-title-container {
    text-align: center;
}

.tabs-container {
    border-radius: 0.5em;
    background-color: mat.get-color-from-palette(theme.$app-primary, lighter);
}

.user-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.chat-icon {
    transition: scale .2s ease-in-out;
}

.chat-icon:hover {
    cursor: pointer;
    scale: 1.2;
}