@use "src/assets/styles/entry-list.scss";
@use "@angular/material" as mat;
@use "src/theme";

.entry-list-outer-container {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
}

.tabs-container {
    border-radius: 0.5em;
    background-color: mat.get-color-from-palette(theme.$app-primary, lighter);
}