@use "src/theme";

mat-expansion-panel {
  margin: 0em;

  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment {
  margin: 0em;
}

.example-full-width {
  width: 100%;
  padding: 0;
  margin-top: 1em;
}

.example-full-width .mat-form-field-wrapper {
  margin-bottom: -1.25em !important;
}
mat-form-field {
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 100%;
}
.form {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.icon-display {
  transform: scale(1.5);
}

.remove-mat-expansion-panel-padding {
  border-width: 0;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

mat-card-header {
  display: flex;
  justify-content: flex-start;
  margin-left: 1em;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  margin: 0em 1em 0em 1em;
  padding: 0em 0em 0em 0em;
}
mat-card-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1em;
}

mat-card-subtitle {
  // display: inline-block;
  display: flex;

  justify-content: flex-end;
}
app-component-card {
  margin-left: 1em;
}

.comment-outer-container {
  display: flex;
}

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
  width: 100%;
}

.comment-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;

  margin-left: 0em;
}
.author-container,
.date-container {
  display: inline-block;
  margin: 0.5em;
}

.content {
  white-space: pre-line;
}

.app-comment-action-buttons {
  display: flex;
  justify-content: flex-end;
}
