<mat-divider></mat-divider>
<mat-card-header id="answer-count">
  <h3>{{ answers?.length }} {{ "Answers" | translate }}</h3>
</mat-card-header>
<mat-card-content *ngFor="let answer of answers">
  <div id="answer-id-{{answer.answer_id}}" class="answer-outer-container">
    <div class="answer-widget-container">
      <app-top-answer-widget
      *ngIf="canMarkAnswer(answer.author.user_id)"
        [isTopAnswer]="answer.top_answer"
        [entryId]="entryId"
        [answerId]="answer.answer_id"
        (onChangeTopAnswer)="onChangeTopAnswer($event)"
      ></app-top-answer-widget>
      
      <app-votes-widget
        [count]="answer?.votes || 0"
        [entryId]="entryId"
        [answerId]="answer.answer_id"
        [authorId]="answer.author.user_id"
        [voted]="answer.user_vote || 0"
      ></app-votes-widget>
    </div>
    <div class="answer-container">
      <div class="content">
        {{ answer?.content }}
      </div>

      <ng-container *ngIf="answer?.image">
        <div
          *ngIf="answer?.imageSrc; else spinner"
          class="image-container"
          (click)="openDialog()"
        >
          <img
            [src]="answer?.imageSrc"
            (click)="openDialog(answer?.imageSrc)"
          />
        </div>
        <ng-template #spinner>
          <div class="image-container">
            <mat-spinner></mat-spinner>
          </div>
        </ng-template>
      </ng-container>

      <div class="answer-footer">
        <div class="app-answer-action-buttons" *appIfAuthorOrAdmin="answer?.author?.user_id">
          <app-answer-action-buttons
            *ngIf="answer"
            [answerId]="answer.answer_id"
            [answer]="answer"
            [entryId]="entryId"
            (answerDeleted)="propagateDeletion($event)"
          ></app-answer-action-buttons>
      </div>
        <mat-card-subtitle>
          <div class="author-container" (click)="userEntries(answer?.author?.user_id)">
            <span>
              {{ answer?.author?.first_name }}
            </span>
            <span>
              {{ answer?.author?.last_name }}
            </span>
          </div>
          <div class="date-container">
            <span translate>answered</span>
            <span>
              {{ answer?.created_at | relativeTime : currentLanguage }}
            </span>
          </div>
       
        </mat-card-subtitle>
      
      </div>
     
    </div>

  </div>
 
  <app-comments-card  
      [answerId]="answer.answer_id"
      [entryId]="entryId"
      [comments]="answer?.comments"
></app-comments-card>

  <mat-divider></mat-divider>
</mat-card-content>
<form [formGroup]="form" (ngSubmit)="createAnswer()" class="form">
  <mat-error class="image-error" *ngIf="imageError">{{ imageError }}</mat-error>
  <mat-card-footer>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label class="answer">{{ "Add your answer" | translate }}</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="5"
        formControlName="answer"
      ></textarea>
    </mat-form-field>

    <div class="buttons">
      <div>
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="fileInput.click()"
        >
          {{ "Add image" | translate }}
        </button>

        <input
          formControlName="image"
          hidden
          (change)="onFileSelected($event)"
          #fileInput
          type="file"
        />
        <a mat-raised-button (click)="removeImage()" *ngIf="isImageSaved">
          {{ "Remove" | translate }}</a
        >

        <span class="file-name" *ngIf="isImageSaved">{{
          filename
        }}</span>
      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="contact-button"
        [disabled]="!form.valid"
      >
        {{ "Add" | translate }}
      </button>
    </div>
  </mat-card-footer>
</form>