@use "src/assets/styles/categories";
@use "@angular/material" as mat;
@use "src/theme";

$max-card-width: 1000px;


.responsive-mat-card {
    max-width: $max-card-width;
    margin: 0 auto;
}

mat-card-header {
    display: flex;
    justify-content: flex-start;
    margin-left: 1em;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    margin: 0em 1em 0em 1em;
    padding: 0em 0em 0em 0em;
}
mat-card-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1em;
    
}

.answer-outer-container {
    display: flex;
}

.answer-container{
    display: flex;
    flex-direction: column ;
    gap:1em;
    margin:0.5em ;
    width: 100%;
}

.example-full-width {
    width: 100%;
    padding: 0;
}

.contact-button {
    white-space: nowrap;
    min-width: max-content;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
}

.answer-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
 
    margin-left: 0em;
}
.author-container, .date-container {
    display: inline-block;
    margin: 0.5em;
}

.author-container:hover {
    cursor: pointer;
    text-decoration: underline;
}

.category {
    max-width: calc($max-card-width - 2em);
}

.content {
    white-space: pre-line;
}

.categories{
    display: flex;
    flex-direction: column;
}

.file-name {
    margin-left: 1rem;

}

mat-card-subtitle{
   // display: inline-block;
    display: flex;
   
    justify-content: flex-end;
}
app-component-card{
    margin-left:  1em;
}

mat-divider {
    padding: 1em; // = margin-bottom 
    margin-top: 1em; 
    // margin-bottom: 1em; nie działa w card-content
}

    
.app-answer-action-buttons
{
    display: flex;
   
    justify-content: flex-end;
}

.answer-widget-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-error {
    margin-left: 1em;
}