.image-container {
  $image-max-width: 400px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  & > img {
    width: min(100%, $image-max-width);
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
  }

  & > mat-spinner {
    margin: 3em 0 0 6em;
  }
}

.fullscreen-dialog {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 100%;
  height: 100%;
}