<mat-tab-group class="tabs-container" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="{{ getLabel('Active') }}"></mat-tab>
  <mat-tab label="{{ getLabel('Suggestions') }}"></mat-tab>
</mat-tab-group>

<mat-accordion class="category-list-container" *ngIf="!loading; else spinner">
  <div
    class="category-list"
    *ngFor="
      let categoryType of ['Faculties', 'Areas'];
      let categoryTypeId = index
    "
  >
    <div
      class="category-group-name-container"
      [class.is-area]="categoryType === 'Areas'"
    >
      <mat-expansion-panel
        class="category-group-name-panel"
        #expansionPanel
        hideToggle
        [expanded]="this.addCategoryFormState === categoryType"
      >
        <mat-expansion-panel-header
          class="default-cursor"
          (click)="
            expansionPanel.expanded
              ? expansionPanel.close()
              : expansionPanel.open()
          "
        >
          <mat-panel-title>
            <span class="category-group-name">{{
              categoryType | translate
            }}</span>
          </mat-panel-title>
          <mat-panel-description>
            <span>
              <ng-container *ngIf="expansionPanel.expanded">
                {{
                  getAddCategoryFormTitle(categoryType) | translate
                }}</ng-container
              ></span
            >
            <button
              *ngIf="expansionPanel.expanded"
              type="button"
              mat-icon-button
              color="primary"
              (click)="
                $event.stopPropagation();
                cancelAddCategory();
                expansionPanel.close()
              "
            >
              <mat-icon>close</mat-icon>
            </button>
            <button
              *ngIf="!expansionPanel.expanded"
              type="button"
              mat-icon-button
              color="primary"
              (click)="
                $event.stopPropagation();
                displayAddCategoryForm(categoryType);
                expansionPanel.open()
              "
            >
              <mat-icon>add</mat-icon>
            </button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-category-form
          [(polishName)]="polishName"
          [(englishName)]="englishName"
        >
        </app-category-form>
        <mat-action-row>
          <button
            type="button"
            disabled="{{ this.polishName === '' || this.englishName === '' }}"
            mat-raised-button
            color="primary"
            (click)="_addCategory(categoryTypeId)"
          >
            {{ "Add" | translate }}
          </button>
          <button
            type="button"
            mat-raised-button
            (click)="cancelAddCategory(); expansionPanel.close()"
          >
            {{ "Cancel" | translate }}
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </div>
    <ng-container *ngIf="!(refreshCategories$ | async)">
      <ng-container *ngFor="let categoryId of parentCategoriesIds">
        <ng-container
          *ngIf="categoriesDictionary[categoryId]?.type === categoryTypeId"
        >
          <app-categories-list-item
            [tab]="tab"
            [category]="categoriesDictionary[categoryId]"
            (onAddCategory)="addCategory($event)"
            (onUpdateCategory)="updateCategory($event)"
            (onDeleteCategory)="deleteCategory($event)"
          ></app-categories-list-item>
          <ng-container
            *ngFor="let subCategoryId of categoriesParentMap[categoryId]"
          >
            <app-categories-list-item
              [tab]="tab"
              [category]="categoriesDictionary[subCategoryId]"
              [isSubcategory]="true"
              (onAddCategory)="addCategory($event)"
              (onUpdateCategory)="updateCategory($event)"
              (onDeleteCategory)="deleteCategory($event)"
            ></app-categories-list-item>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</mat-accordion>
<ng-template #spinner>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
