@use "@angular/material" as mat;
@use "src/theme";

.favorite-icon {
    scale: 1;
    flex-shrink: 0;
    width: max-content;
    height: max-content;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        scale: 1.3;
        color: mat.get-color-from-palette(theme.$app-primary);
    }

    &.bigger {
        font-size: 2.5em;
    }
}