<div
  class="chat-outer-container"
  [class.desktop]="currentChatId && !isMobile"
  *ngIf="!noChats; else noChatsTemplate"
>
  <mat-list class="chat-list">
    <mat-card
      mat-list-item
      *ngFor="let chat of displayChatList"
      class="chat-card"
      [class.not-read]="!chat.is_read"
      [class.open]="currentChatId === chat.chat_id"
      [class.mobile]="isMobile"
      (click)="goToChat(chat.chat_id)"
    >
      <mat-icon
        *ngIf="!chat.is_read"
        class="chat-card-right-item"
        color="accent"
        >markunread</mat-icon
      >
      <mat-icon
        *ngIf="chat.is_read && chat.chat_id !== -1"
        class="chat-card-right-item"
        color="accent"
        >drafts</mat-icon
      >
      <button
        *ngIf="isMobile && currentChatId === chat.chat_id"
        mat-mini-fab
        color="accent"
        class="chat-card-right-item"
        (click)="goToList($event)"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <mat-card-header>
        <mat-card-title class="card-title">
          {{ chat.other_user.first_name }} {{ chat.other_user.last_name }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card-subtitle *ngIf="chat.last_message; else startConversation">
          <span> {{ senderName(chat) | translate }}: </span>
          <span mat-line class="message">{{ chat.last_message.content }}</span>
        </mat-card-subtitle>
        <ng-template #startConversation>
          <mat-card-subtitle>
            <span mat-line class="message">{{
              "Start a conversation!" | translate
            }}</span>
          </mat-card-subtitle>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </mat-list>
  <app-chat-details
    *ngIf="currentChatId"
    [chatId]="currentChatId"
    [newMessage]="newMessage"
    (createChatCompleted)="createChatCompleted($event)"
  ></app-chat-details>
</div>

<ng-template #noChatsTemplate>
  <mat-card class="no-chats">
    <h2 translate>You currently have no chats started!</h2>
    <div class="chat-start-info">
      <p translate>You can start a chat by clicking</p>
      <button mat-raised-button color="primary" class="contact-button">
        {{ "Contact author" | translate }}
      </button>
      <p translate>in the note or announcement details view</p>
    </div>
  </mat-card>
</ng-template>
